<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> <!-- FontAwesome for Icons -->
    <link rel="stylesheet" href="/css/regi.css"> 
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="#" th:action="@{/register}" method="post">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" required>

            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <div class="password-wrapper">
                <input type="password" id="password" name="password" required>
                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility()"></i>
            </div>

            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
    </div>

    <script src="/js/regi.js">   </script>
</body>
</html>
