<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> <!-- FontAwesome for Icons -->
    <link rel="stylesheet" href="/css/regi.css"> 
</head>
<body>
    <div class="container">
        <h2>Register</h2>

        <!-- Display error message if any -->
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>

        <form th:object="${regform}" th:action="@{/register}" method="post">
            <label for="firstname">First Name:</label>
            <input type="text" th:field="*{firstname}" id="firstname" required>

            <label for="lastname">Last Name:</label>
            <input type="text" th:field="*{lastname}" id="lastname" required>

            <label for="email">Email:</label>
            <input type="email" th:field="*{email}" id="email" required>

            <label for="password">Password:</label>
<div class="password-wrapper">
    <input type="password" th:field="*{password}" id="password" required>
    <i class="fas fa-eye-slash toggle-password" onclick="togglePasswordVisibility()"></i>
</div>



            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
    </div>

    <script src="/js/regi.js"></script>
</body>
</html>
